[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
torch = "*"
celery = {extras = ["redis"], version = "*"}
sounddevice = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.9"
