[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
torch = "*"
celery = {extras = ["redis", "sqs"], version = "*"}
ffmpeg = "*"

[dev-packages]
aws-cdk-lib = "==2.58.1"
sounddevice = "*"
torchaudio = "*"
aiohttp = "*"

[requires]
python_version = "3.9"
